---
layout: categories
title:  Against Heresies
categories: writings
writings: [TOC, Book 1, Book 2, Book 3, Book 4, Book 5]
wikipedia: Against Heresies (Irenaeus)
url: /Irenaeus_of_Lyons/Against_Heresies/
---
<p><b>Against Heresies</b>, or <i>On the Detection and Overthrow of the So-Called Gnosis</i> (Ancient Greek&nbsp;: <i><span title="Ancient Greek language text" lang="grc">Ἔλεγχος καὶ ἀνατροπὴ τῆς ψευδωνύμου γνώσεως</span></i>), sometimes referred to by its Latin title <i>Adversus Haereses</i>, is a work of Christian theology written in Greek about the year 180 by <a href="..">Irenaeus</a>, the bishop of Lugdunum (now Lyon in France).
</p>
<p>In it, Irenaeus identifies and describes several schools of Gnosticism, as well as other schools of Christian thought, and contrasts their beliefs with his conception of orthodox Christianity.
</p>
<p>Until the discovery of the Library of Nag Hammadi in 1945, <i>Against Heresies</i> was the best surviving contemporary description of Gnosticism. Today, the treatise remains historically important as one of the first unambiguous attestations of the canonical gospel texts and some of the Pauline epistles. Irenaeus cites from most of the New Testament canon, as well as the noncanonical works 1 Clement and The Shepherd of Hermas; however, he makes no references to Philemon, 2 Peter, 3 John or Jude– four of the shortest epistles.
</p>