<h3>Writings</h3>
<ul>
    {% for writing in page.writings %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}{{ writing }}"><i>{{ writing }}</i></a></li>
    {% endfor %}
</ul>