---
layout: page
title:  Table of Contents
url: /Irenaeus_of_Lyons/Against_Heresies/TOC/
---
<h1>Against Heresies</h1>
<p>By Saint Irenaeus</p>
<p>Courtesy of <a href="http://www.newadvent.org/">NewAdvent</a></p>
<ul>
	<li>
		<h3><a href="../book 1/">Book I</a></h3>
		<ul>
			<li><a href="../book I/#I-Preface">Preface</a></li>
			<li><a href="../book 1/#I-1">Chapter 1</a> ~ Absurd ideas of the disciples of Valentinus as to the origin, name, order, and conjugal
				productions of their fancied aeons, with the passages of Scripture which they adapt to their opinions.
			</li>
			<li><a href="../book 1/#I-2">Chapter 2</a> ~ The Propator was known to Monogenes alone. Ambition, disturbance, and danger into which Sophia
				fell; her shapeless offspring: she is restored by Horos. The production of Christ and of the Holy
				Spirit, in order to the completion of the aeons. Manner of the production of Jesus.</li>
			<li><a href="../book 1/#I-3">Chapter 3</a> ~ Texts of Holy Scripture used by these heretics to support their opinions</li>
			<li><a href="../book 1/#I-4">Chapter 4</a> ~ Account given by the heretics of the formation of Achamoth; origin of the visible world from
				her disturbances</li>
			<li><a href="../book 1/#I-5">Chapter 5</a> ~ Formation of the Demiurge; description of him. He is the creator of everything outside of the
				Pleroma</li>
			<li><a href="../book 1/#I-6">Chapter 6</a> ~ The threefold kind of man feigned by these heretics: good works needless for them, though
				necessary to others: their abandoned morals</li>
			<li><a href="../book 1/#I-7">Chapter 7</a> ~ The mother Achamoth, when all her seed are perfected, shall pass into the Pleroma, accompanied
				by those men who are spiritual; the Demiurge, with animal men, shall pass into the intermediate
				habitation; but all material men shall go into corruption, their blasphemous opinions against the true
				Incarnation of Christ by the Virgin Mary. Their views as to the prophecies. Stupid ignorance of the
				Demiurge</li>
			<li><a href="../book 1/#I-8">Chapter 8</a> ~ How the Valentinians pervert the Scriptures to support their own pious opinions</li>
			<li><a href="../book 1/#I-9">Chapter 9</a> ~ Refutation of the impious interpretations of these heretics</li>
			<li><a href="../book 1/#I-10">Chapter 10</a> ~ Unity of the faith of the Church throughout the whole world</li>
			<li><a href="../book 1/#I-11">Chapter 11</a> ~ The opinions of Valentinus, with those of his disciples and others</li>
			<li><a href="../book 1/#I-12">Chapter 12</a> ~ The doctrines of the followers of Ptolemy and Colorbasus</li>
			<li><a href="../book 1/#I-13">Chapter 13</a> ~ The deceitful arts and nefarious practices of Marcus</li>
			<li><a href="../book 1/#I-14">Chapter 14</a> ~ The various hypotheses of Marcus and others. Theories respecting letters and syllables</li>
			<li><a href="../book 1/#I-15">Chapter 15</a> ~ Sige relates to Marcus the generation of the twenty-four elements and of Jesus. Exposure of
				these absurdities</li>
			<li><a href="../book 1/#I-16">Chapter 16</a> ~ Absurd interpretations of the Marcosians</li>
			<li><a href="../book 1/#I-17">Chapter 17</a> ~ The theory of the Marcosians, that created things were made after the image of things
				invisible</li>
			<li><a href="../book 1/#I-18">Chapter 18</a> ~ Passages from Moses, which the heretics pervert to the support of their hypothesis</li>
			<li><a href="../book 1/#I-19">Chapter 19</a> ~ Passages of Scripture by which they attempt to prove that the supreme Father was unknown
				before the coming of Christ</li>
			<li><a href="../book 1/#I-20">Chapter 20</a> ~ The apocryphal and spurious scriptures of the Marcosians, with passages of the Gospels which
				they pervert</li>
			<li><a href="../book 1/#I-21">Chapter 21</a> ~ The views of redemption entertained by these heretics</li>
			<li><a href="../book 1/#I-22">Chapter 22</a> ~ Deviations of heretics from the truth</li>
			<li><a href="../book 1/#I-23">Chapter 23</a> ~ Doctrines and practices of Simon Magus and Menander</li>
			<li><a href="../book 1/#I-24">Chapter 24</a> ~ Doctrines of Saturninus and Basilides</li>
			<li><a href="../book 1/#I-25">Chapter 25</a> ~ Doctrines of Carpocrates</li>
			<li><a href="../book 1/#I-26">Chapter 26</a> ~ Doctrines of Cerinfhus, the Ebionites, and Nicolaitanes</li>
			<li><a href="../book 1/#I-27">Chapter 27</a> ~ Doctrines of Cerdo and Marcion</li>
			<li><a href="../book 1/#I-28">Chapter 28</a> ~ Doctrines of Tatian, the Encratites, and others</li>
			<li><a href="../book 1/#I-29">Chapter 29</a> ~ Doctrines of various other Gnostic sects, and especially of the Barbeliotes or Borborians
			</li>
			<li><a href="../book 1/#I-30">Chapter 30</a> ~ Doctrines of the Ophites and Sethians</li>
			<li><a href="../book 1/#I-31">Chapter 31</a> ~ Doctrines of the Cainites</li>
		</ul>
	</li>
	<li>
		<h3><a href="../book 2/">Book II</a></h3>
		<ul>
			<li><a href="../book 2/#II-Preface">Preface</a></li>
			<li><a href="../book 2/#II-1">Chapter 1</a> ~ There is but one God: the impossibility of its being otherwise</li>
			<li><a href="../book 2/#II-2">Chapter 2</a> ~ The world was not formed by angels, or by any other being, contrary to the will of the Most
				High God, but was made by the Father through the Word</li>
			<li><a href="../book 2/#II-3">Chapter 3</a> ~ The Bythus and Pleroma of the Valentinians, as well as the God of Marcion, shown to be absurd;
				the world was actually created by the same Being Who had conceived the idea of it, and was not the fruit
				of defect or ignorance</li>
			<li><a href="../book 2/#II-4">Chapter 4</a> ~ The absurdity of the supposed vacuum and defect of the heretics is demonstrated</li>
			<li><a href="../book 2/#II-5">Chapter 5</a> ~ This world was not formed by any other beings within the territory which is contained by the
				Father</li>
			<li><a href="../book 2/#II-6">Chapter 6</a> ~ The angels and the Creator of the world could not have been ignorant of the Supreme God</li>
			<li><a href="../book 2/#II-7">Chapter 7</a> ~ Created things are not the images of those aeons who are within the Pleroma</li>
			<li><a href="../book 2/#II-8">Chapter 8</a> ~ Created things are not a shadow of the Pleroma</li>
			<li><a href="../book 2/#II-9">Chapter 9</a> ~ There is but one Creator of the world, God the Father: this the constant belief of the Church
			</li>
			<li><a href="../book 2/#II-10">Chapter 10</a> ~ Perverse interpretations of Scripture by the heretics: God created all things out of nothing,
				and not from pre-existent matter</li>
			<li><a href="../book 2/#II-11">Chapter 11</a> ~ The heretics, from their disbelief of the truth, have fallen into an abyss of error: reasons
				for investigating their systems</li>
			<li><a href="../book 2/#II-12">Chapter 12</a> ~ The Triacontad of the heretics errs both by defect and excess: Sophia could never have
				produced anything apart from her consort; Logos and Sige could not have been contemporaries.</li>
			<li><a href="../book 2/#II-13">Chapter 13</a> ~ The first order of production maintained by the heretics is altogether indefensible</li>
			<li><a href="../book 2/#II-14">Chapter 14</a> ~ Valentinus and his followers derived the principles of their system from the heathen; the
				names only are changed</li>
			<li><a href="../book 2/#II-15">Chapter 15</a> ~ No account can be given of these productions</li>
			<li><a href="../book 2/#II-16">Chapter 16</a> ~ The Creator of the world either produced of Himself the images of things to be made, or the
				Pleroma was formed after the image of some previous system; and so on ad infinitum</li>
			<li><a href="../book 2/#II-17">Chapter 17</a> ~ Inquiry into the production of the ^Eons: whatever its supposed nature, it is in every
				respect inconsistent; and on the hypothesis of the heretics, even Nous and the Father Himself would be
				stained with ignorance</li>
			<li><a href="../book 2/#II-18">Chapter 18</a> ~ Sophia was never really in ignorance or passion; her enthymesis could not have been separated
				from herself, or exhibited special tendencies of its own</li>
			<li><a href="../book 2/#II-19">Chapter 19</a> ~ Absurdities of the heretics as to their own origin: their opinions respecting the</li>
			<li>Demiurge shown to be equally untenable and ridiculous</li>
			<li><a href="../book 2/#II-20">Chapter 20</a> ~ Futility of the arguments adduced to demonstrate the sufferings of the twelfth aeon, from the
				parables, the treachery of Judas, and the Passion of our Saviour</li>
			<li><a href="../book 2/#II-21">Chapter 21</a> ~ The Twelve Apostles were not a type of the JEom</li>
			<li><a href="../book 2/#II-22">Chapter 22</a> ~ The thirty aeons are not typified by the fact that Christ was baptized in his thirtieth year:
				he did not suffer in the twelfth month after his baptism, but was more than fifty years old when he died
			</li>
			<li><a href="../book 2/#II-23">Chapter 23</a> ~ The woman who suffered from an issue of blood was no type of the suffering aeon</li>
			<li><a href="../book 2/#II-24">Chapter 24</a> ~ Folly of the arguments derived by the heretics from numbers, letters, and syllables</li>
			<li><a href="../book 2/#II-25">Chapter 25</a> ~ God is not to be sought after by means of letters, syllables, and numbers; necessity of
				humility in such investigations</li>
			<li><a href="../book 2/#II-26">Chapter 26</a> ~ "Knowledge puffs up, but love edifies"</li>
			<li><a href="../book 2/#II-27">Chapter 27</a> ~ Proper mode of interpreting parables and obscure passages of Scripture</li>
			<li><a href="../book 2/#II-28">Chapter 28</a> ~ Perfect knowledge cannot be attained in the present life: many questions must be submissively
				left in the hands of God</li>
			<li><a href="../book 2/#II-29">Chapter 29</a> ~ Refutation of the views of the heretics as to the future destiny of the soul and body</li>
			<li><a href="../book 2/#II-30">Chapter 30</a> ~ Absurdity of their styling themselves spiritual, while the Demiurge is declared to be animal
			</li>
			<li><a href="../book 2/#II-31">Chapter 31</a> ~ Recapitulation and application of the foregoing arguments</li>
			<li><a href="../book 2/#II-32">Chapter 32</a> ~ Further exposure of the wicked and blasphemous doctrines of the heretics</li>
			<li><a href="../book 2/#II-33">Chapter 33</a> ~ Absurdity of the doctrine of the transmigration of souls</li>
			<li><a href="../book 2/#II-34">Chapter 34</a> ~ Souls can be recognised in the separate state, and are immortal although they once had a
				beginning</li>
			<li><a href="../book 2/#II-35">Chapter 35</a> ~ Refutation of Basilides, and of the opinion that the prophets uttered their predictions under
				the inspiration of different gods</li>
		</ul>
	</li>
	<li>
		<h3><a href="../book 3/">Book III</a></h3>
		<ul>
			<li><a href="../book 3/#III-Preface">Preface</a></li>
			<li><a href="../book 3/#III-1">Chapter 1</a> ~ The apostles did not commence to preach the Gospel, or to place anything on record, until they
				were endowed with the gifts and power of the Holy Spirit. They preached one God alone, maker of heaven
				and earth.</li>
			<li><a href="../book 3/#III-2">Chapter 2</a> ~ The heretics follow neither Scripture nor Tradition</li>
			<li><a href="../book 3/#III-3">Chapter 3</a> ~ A refutation of the heretics, from the fact that, in the various churches, a perpetual
				succession of bishops was kept up</li>
			<li><a href="../book 3/#III-4">Chapter 4</a> ~ The truth is to be found nowhere else but in the Catholic Church, the sole depository of
				apostolic doctrine. Heresies are of recent formation, and cannot trace their origin up to the apostles.
			</li>
			<li><a href="../book 3/#III-5">Chapter 5</a> ~ Christ and his apostles, without any fraud, deception, or hypocrisy, preached that one God,
				the Father, was the Founder of all things. They did not accommodate their doctrine to the prepossessions
				of their hearers.</li>
			<li><a href="../book 3/#III-6">Chapter 6</a> ~ The Holy Ghost, throughout the Old Testament Scriptures, made mention of no other God or Lord,
				save him who is the true God</li>
			<li><a href="../book 3/#III-7">Chapter 7</a> ~ Reply to an objection founded on the words of St. Paul (<a href="https://www.biblegateway.com/passage/?search=2+Corinthians+4%3A5">2 Corinthians 4:5{{ site.link_icon }}</a>). St. Paul occasionally
				uses words not in their grammatical sequence.</li>
			<li><a href="../book 3/#III-8">Chapter 8</a> ~ Answer to an objection, arising from the words of Christ (<a href="https://www.biblegateway.com/passage/?search=Matthew+6%3A24">Matthew 6:24{{ site.link_icon }}</a>). God alone is to be
				really called God and Lord, for He is without beginning and end</li>
			<li><a href="../book 3/#III-9">Chapter 9</a> ~ One and the same God, the Creator of Heaven and Earth, is He Whom the prophets foretold, and
				who was declared by the Gospel. Proof of this, at the outset, from St. Matthew's Gospel</li>
			<li><a href="../book 3/#III-10">Chapter 10</a> ~ Proofs of the foregoing, drawn from the Gospels of Mark and Luke</li>
			<li><a href="../book 3/#III-11">Chapter 11</a> ~ Proofs in continuation, extracted from St. John's Gospel. The Gospels are four in number,
				neither more nor less. Mystic reasons for this</li>
			<li><a href="../book 3/#III-12">Chapter 12</a> ~ Doctrine of the rest of the Apostles</li>
			<li><a href="../book 3/#III-13">Chapter 13</a> ~ Refutation of the opinion, that Paul was the only Apostle who had knowledge of the truth</li>
			<li><a href="../book 3/#III-14">Chapter 14</a> ~ If Paul had known any mysteries unrevealed to the other apostles, Luke, his constant
				companion and fellow traveller, could not have been ignorant of them; neither could the truth have
				possibly lain hid from him, through whom alone we learn many and most important particulars of the
				Gospel history</li>
			<li><a href="../book 3/#III-15">Chapter 15</a> ~ Refutation of the Ebionites, who disparaged the authority of St. Paul, from the writings of
				St. Luke, which must be received as a whole, exposure of the hypocrisy, deceit, and pride of the
				Gnostics. The apostles and their disciples knew and preached one God, the Creator of the world.</li>
			<li><a href="../book 3/#III-16">Chapter 16</a> ~ Proofs from the apostolic writings, that Jesus Christ was one and the same, the only begotten
				Son of God, perfect God and perfect man</li>
			<li><a href="../book 3/#III-17">Chapter 17</a> ~ The apostles teach that it was neither Christ nor the Saviour, but the Holy Spirit, Who
				descended upon Jesus. The reason for this descent.</li>
			<li><a href="../book 3/#III-18">Chapter 18</a> ~ Continuation of the foregoing argument. Proofs from the writings of St. Paul, and from the
				words of our Lord, that Christ and Jesus cannot be considered as distinct beings; neither can it be
				alleged that the Son of God became man merely in appearance, but that he did so truly and actually.</li>
			<li><a href="../book 3/#III-19">Chapter 19</a> ~ Jesus Christ was not a mere man, begotten from Joseph in the ordinary course of nature, but
				was true God, begotten of the Father Most High, and true man, born of the Virgin</li>
			<li><a href="../book 3/#III-20">Chapter 20</a> ~ God showed Himself, by the fall of man, as patient, benign, merciful, mighty to save. Man is
				therefore most ungrateful, if, unmindful of his own lot, and of the benefits held out to him, he does
				not acknowledge divine grace.</li>
			<li><a href="../book 3/#III-21">Chapter 21</a> ~ A vindication of the prophecy in Isaiah (<a href="https://www.biblegateway.com/passage/?search=Isaiah+7%3A14">7:14{{ site.link_icon }}</a>) against the misinterpretations of Theodotion,
				Aquila, the Ebionites, and the Jews. Authority of the Septuagint version. Arguments in proof that Christ
				was born of a Virgin.</li>
			<li><a href="../book 3/#III-22">Chapter 22</a> ~ Christ assumed actual flesh, conceived and born of the Virgin</li>
			<li><a href="../book 3/#III-23">Chapter 23</a> ~ Arguments in opposition to Tatian, showing that it was consonant to Divine Justice and Mercy
				that the first Adam should first partake in that salvation offered to all by Christ</li>
			<li><a href="../book 3/#III-24">Chapter 24</a> ~ Recapitulation of the various arguments adduced against Gnostic impiety under all its
				aspects. The heretics, tossed about by every blast of doctrine, are opposed by the uniform teaching of
				the Church, which remains so always, and is consistent with itself.</li>
			<li><a href="../book 3/#III-25">Chapter 25</a> ~ This world is ruled providence of one God, Who is both endowed with infinite justice to
				punish the wicked, and with infinite goodness to bless the pious, and impart to them salvation</li>
		</ul>
	</li>
	<li>
		<h3><a href="../book 4/">Book IV</a></h3>
		<ul>
			<li><a href="../book 4/#IV-Preface">Preface</a></li>
			<li><a href="../book 4/#IV-1">Chapter 1</a> ~ The Lord acknowledged but one God and Father.</li>
			<li><a href="../book 4/#IV-2">Chapter 2</a> ~ Proofs from the plain testimony of Moses, and of the other prophets, whose words are the words
				of Christ, that there is but one God, the Founder of the world, Whom our Lord preached, and whom he
				called His Father.</li>
			<li><a href="../book 4/#IV-3">Chapter 3</a> ~ Answer to the cavils of the Gnostics. We are not to suppose that the true God can be changed,
				or come to an end because the heavens, which are his throne and the earth, his footstool, shall pass
				away.</li>
			<li><a href="../book 4/#IV-4">Chapter 4</a> ~ Answer to another objection, showing that the destruction of Jerusalem, which was the city of
				the great king, diminished nothing from the supreme majesty and power of God, for that this destruction
				was put in execution by the most wise counsel of the same God.</li>
			<li><a href="../book 4/#IV-5">Chapter 5</a> ~ The author returns to his former argument, and shows that there was but one God announced by
				the law and prophets, Whom Christ confesses as His Father, and Who, through His Word, one living God
				with Him, made Himself known to men in both covenants.</li>
			<li><a href="../book 4/#IV-6">Chapter 6</a> ~ Explanation of the words of Christ, "No man knows the Father, but the Son," etc.; which words
				the heretics misinterpret, proof that, by the Father revealing the Son, and by the Son being revealed,
				the Father was never unknown.</li>
			<li><a href="../book 4/#IV-7">Chapter 7</a> ~ Recapitulation of the foregoing argument, showing that Abraham, through the revelation of the
				Word, knew the Father, and the coming of the Son of God. For this cause, he rejoiced to see the day of
				Christ, when the promises made to him should be fulfilled. The fruit of this rejoicing has flowed to
				posterity, that is, to those who are partakers in the faith of Abraham, but not to the Jews who reject
				the Word of God.</li>
			<li><a href="../book 4/#IV-8">Chapter 8</a> ~ Vain attempts of Marcion and his followers, who exclude Abraham from the salvation bestowed by
				Christ, who liberated not only Abraham, but the seed of Abraham, by fulfilling and not destroying the
				Law when he healed on the sabbath day.</li>
			<li><a href="../book 4/#IV-9">Chapter 9</a> ~ There is but one Author, and one end to both covenants.</li>
			<li><a href="../book 4/#IV-10">Chapter 10</a> ~ The Old Testament Scriptures, and those written by Moses in particular, do everywhere make
				mention of the Son of God, and foretell his Advent and Passion. From this fact it follows that they were
				inspired by one and the same God.</li>
			<li><a href="../book 4/#IV-11">Chapter 11</a> ~ The old prophets and righteous men knew beforehand of the Advent of Christ, and earnestly
				desired to see and hear him, he revealing himself in the Scriptures by the Holy Ghost, and without any
				change in himself, enriching men day by day with benefits, but conferring them in greater abundance on
				later than on former generations.</li>
			<li><a href="../book 4/#IV-12">Chapter 12</a> ~ It clearly appears that there was but one Author of both the Old and the New Law, from the
				fact that Christ condemned traditions and customs repugnant to the former, while he confirmed its most
				important precepts, and taught that he was himself the end of the Mosaic Law.</li>
			<li><a href="../book 4/#IV-13">Chapter 13</a> ~ Christ did not abrogate the natural precepts of the Law, but rather fulfilled and extended
				them. He removed the yoke and bondage of the Old Law, so that mankind, being now set free, might serve
				God with that trustful piety which becomes sons.</li>
			<li><a href="../book 4/#IV-14">Chapter 14</a> ~ If God demands obedience from man, if he formed man, called him and placed him under laws, it
				was merely for man's welfare; not that God stood in need of man, but that he graciously conferred upon
				man his favours in every possible manner.</li>
			<li><a href="../book 4/#IV-15">Chapter 15</a> ~ At first God deemed it sufficient to inscribe the natural law, or the Decalogue, upon the
				hearts of men; but afterwards he found it necessary to bridle, with the yoke of the Mosaic Law, the
				desires of the Jews, who were abusing their liberty; and even to add some special commands, because of
				the hardness of their hearts.</li>
			<li><a href="../book 4/#IV-16">Chapter 16</a> ~ Perfect righteousness was conferred neither by circumcision nor by any other legal
				ceremonies. The Decalogue, however, was not cancelled by Christ, but is always in force: men were never
				released from its commandments.</li>
			<li><a href="../book 4/#IV-17">Chapter 17</a> ~ Proof that God did not appoint the Levitical dispensation for his own sake, or as requiring
				such service; for he does, in fact, need nothing from men.</li>
			<li><a href="../book 4/#IV-18">Chapter 18</a> ~ Concerning sacrifices and oblations, and those who truly offer them.</li>
			<li><a href="../book 4/#IV-19">Chapter 19</a> ~ Earthly things may be the type of heavenly, but the latter cannot be the types of others
				still superior and unknown; nor can we, without absolute madness, maintain that God is known to us only
				as the type of a still unknown and superior being.</li>
			<li><a href="../book 4/#IV-20">Chapter 20</a> ~ That one God formed all things in the world, by means of the Word and the Holy Spirit: and
				that although he is to us in this life invisible and incomprehensible, nevertheless he is not unknown;
				inasmuch as his works do declare him, and his Word has shown that in many modes he may be seen and
				known.</li>
			<li><a href="../book 4/#IV-21">Chapter 21</a> ~ Abraham's faith was identical with ours; this faith was prefigured by the words and actions
				of the old patriarchs.</li>
			<li><a href="../book 4/#IV-22">Chapter 22</a> ~ Christ did not come for the sake of the men of one age only, but for all who, living
				righteously and piously, had believed upon Him; and for those, too, who shall believe.</li>
			<li><a href="../book 4/#IV-23">Chapter 23</a> ~ The Patriarchs and Prophets by pointing out the advent of Christ, fortified thereby, as it
				were, the way of posterity to the faith of Christ; and so the labours of the apostles were lessened
				inasmuch as they gathered in the fruits of the labours of others.</li>
			<li><a href="../book 4/#IV-24">Chapter 24</a> ~ The conversion of the Gentiles was more difficult than that of the Jews; the labours of those
				apostles, therefore who engaged in the former task, were greater than those who undertook the latter.
			</li>
			<li><a href="../book 4/#IV-25">Chapter 25</a> ~ Both covenants were prefigured in Abraham, and in the labour of Tamar; there was, however,
				but one and the same God to each covenant.</li>
			<li><a href="../book 4/#IV-26">Chapter 26</a> ~ The treasure hid in the Scriptures is Christ; the true exposition of the Scriptures is to be
				found in the Church alone.</li>
			<li><a href="../book 4/#IV-27">Chapter 27</a> ~ The sins of the men of old time, which incurred the displeasure of God, were, by His
				providence, committed to writing, that we might derive instruction thereby, and not be filled with
				pride. We must not, therefore, infer that there was another God than He Whom Christ preached; we should
				rather fear, lest the one and the same God Who inflicted punishment on the ancients, should bring down
				heavier upon us.</li>
			<li><a href="../book 4/#IV-28">Chapter 28</a> ~ Those persons prove themselves senseless who exaggerate the mercy of Christ, but are silent
				as to the judgment, and look only at the more abundant grace of the New Testament; but, forgetful of the
				greater degree of perfection which it demands from us, they endeavour to show that there is another god
				beyond Him who created the world.</li>
			<li><a href="../book 4/#IV-29">Chapter 29</a> ~ Refutation of the arguments of the Marcionites, who attempted to show that God was the Author
				of sin, because he blinded Pharaoh and his servants.</li>
			<li><a href="../book 4/#IV-30">Chapter 30</a> ~ Refutation of another argument adduced by the Marcionites, that God directed the Hebrews to
				spoil the Egyptians.</li>
			<li><a href="../book 4/#IV-31">Chapter 31</a> ~ We should not hastily impute as crimes to the men of old time those actions which the
				Scripture has not condemned, but should rather seek in them types of things to come: an example of this
				in the incest committed by Lot.</li>
			<li><a href="../book 4/#IV-32">Chapter 32</a> ~ That one God was the Author of both testaments, is confirmed by the authority of a presbyter
				who had been taught by the apostles.</li>
			<li><a href="../book 4/#IV-33">Chapter 33</a> ~ Whosoever confesses that one God is the Author of both testaments, and diligently reads the
				Scriptures in company with the presbyters of the Church, is a true spiritual disciple; and he will
				rightly understand and interpret all that the prophets have declared respecting Christ and the liberty
				of the New Testament.</li>
			<li><a href="../book 4/#IV-34">Chapter 34</a> ~ Proof against the Marcionites, that the prophets referred in all their predictions to our
				Christ.</li>
			<li><a href="../book 4/#IV-35">Chapter 35</a> ~ A refutation of those who allege that the prophets uttered some predictions under the
				inspiration of the Highest, others from the demiurge. Disagreements of the Valentinians among themselves
				with regard to these same predictions.</li>
			<li><a href="../book 4/#IV-36">Chapter 36</a> ~ The prophets were sent from one and the same Father from Whom the Son was sent.</li>
			<li><a href="../book 4/#IV-37">Chapter 37</a> ~ Men are possessed of free will, and endowed with the faculty of making a choice. It is not
				true, therefore, that some are by nature good, and others bad.</li>
			<li><a href="../book 4/#IV-38">Chapter 38</a> ~ Why man was not made perfect from the beginning.</li>
			<li><a href="../book 4/#IV-39">Chapter 39</a> ~ Man is endowed with the faculty of distinguishing good and evil; so that, without compulsion,
				he has the power, by his own will and choice, to perform God's commandments, by doing which he avoids
				the evils prepared for the rebellious.</li>
			<li><a href="../book 4/#IV-40">Chapter 40</a> ~ One and the same God the Father inflicts punishment on the reprobate, and bestows rewards on
				the elect.</li>
			<li><a href="../book 4/#IV-41">Chapter 41</a> ~ Those persons who do not believe in God, but who are disobedient, are angels and sons of the
				devil, not indeed by nature, but by imitation. Close of this book, and scope of the succeeding one.</li>
		</ul>
	</li>
	<li>
		<h3><a href="../book 5/">Book V</a></h3>
		<ul>
			<li><a href="../book 5/#V-Preface">Preface</a></li>
			<li><a href="../book 5/#V-1">Chapter 1</a> ~ Christ alone is able to teach Divine things, and to redeem us: He, the same, took flesh of the
				Virgin Mary, not merely in appearance, but actually, by the operation of the Holy Spirit, in order to
				renovate us. strictures on the conceits of Valentinus and Ebion.</li>
			<li><a href="../book 5/#V-2">Chapter 2</a> ~ When Christ visited us in his grace, he did not come to what did not belong to him: also, by
				shedding his true blood for us, and exhibiting to us his true flesh in the Eucharist, he conferred upon
				our flesh the capacity of salvation.</li>
			<li><a href="../book 5/#V-3">Chapter 3</a> ~ The power and glory of God shine forth in the weakness of human flesh, as he will render our
				body a participator of the resurrection and of immortality, although He has formed it from the dust of
				the earth; He will also bestow upon it the enjoyment of immortality, just as He grants it this short
				life in common with the soul.</li>
			<li><a href="../book 5/#V-4">Chapter 4</a> ~ Those persons are deceived who feign another God the Father besides the Creator of the world;
				for He must have been feeble and useless, or else malignant and full of envy, if He be either unable or
				unwilling to extend eternal life to our bodies.</li>
			<li><a href="../book 5/#V-5">Chapter 5</a> ~ The prolonged life of the ancients, the translation of Elijah and of Enoch in their own
				bodies, as well as the preservation of Jonah, of Shadrach, Meshach, and Abednego, in the midst of
				extreme peril, are clear demonstrations that God can raise up our bodies to life eternal.</li>
			<li><a href="../book 5/#V-6">Chapter 6</a> ~ God will bestow salvation upon the whole nature of man, consisting of body and soul in close
				union, since the word took it upon him, and adorned with the gifts of the Holy Spirit, of Whom our
				bodies are, and are termed, the temples.</li>
			<li><a href="../book 5/#V-7">Chapter 7</a> ~ Inasmuch as Christ did rise in our flesh, it follows that we shall be also raised in the same;
				since the resurrection promised to us should not be referred to spirits naturally immortal, but to
				bodies in themselves mortal.</li>
			<li><a href="../book 5/#V-8">Chapter 8</a> ~ The gifts of the Holy Spirit which we receive prepare us for incorruption, render us
				spiritual, and separate us from carnal men. These two classes are signified by the clean and unclean
				animals in the legal dispensation.</li>
			<li><a href="../book 5/#V-9">Chapter 9</a> ~ Showing how that passage of the Apostle which the heretics pervert ("Flesh and blood shall not
				possess the Kingdom of God"), should be understood</li>
			<li><a href="../book 5/#V-10">Chapter 10</a> ~ By a comparison drawn from the wild olive tree, whose quality but not whose nature is changed
				by grafting, he proves more important things; he points out also that man without the spirit is not
				capable of bringing forth fruit, or of inheriting the Kingdom of God.</li>
			<li><a href="../book 5/#V-11">Chapter 11</a> ~ Treats upon the actions of carnal and of spiritual persons; also, that the spiritual
				cleansing does not refer to the substance of our bodies, but to the manner of our former life.</li>
			<li><a href="../book 5/#V-12">Chapter 12</a> ~ The difference between life and death; the breath of life and the vivifying spirit: how the
				substance of flesh revives what once was dead.</li>
			<li><a href="../book 5/#V-13">Chapter 13</a> ~ In the dead who were raised by Christ we possess the highest proof of the Resurrection; and
				our hearts are shown to be capable of life eternal, because they can now receive the Spirit of God.</li>
			<li><a href="../book 5/#V-14">Chapter 14</a> ~ Unless the flesh were to be saved, the Word would not have taken upon him flesh of the same
				substance as ours: from this it would follow that neither should we have been reconciled by him.</li>
			<li><a href="../book 5/#V-15">Chapter 15</a> ~ Proofs of the Resurrection from Isaiah and Ezekiel; the same God Who created us will also
				raise us up.</li>
			<li><a href="../book 5/#V-16">Chapter 16</a> ~ Since our bodies return to the earth, it follows that they have their substance from it;
				also, by the advent of the Word, the image of God in us appeared in a clearer light.</li>
			<li><a href="../book 5/#V-17">Chapter 17</a> ~ There is but one Lord and one God, the Father and Creator of all things, Who has loved us in
				Christ, given us commandments, and remitted our sins; Whose Son and Word Christ proved Himself to be,
				when He forgave our sins.</li>
			<li><a href="../book 5/#V-18">Chapter 18</a> ~ God the Father and His Word have formed all created things (which They use) by Their own
				power and wisdom, not out of defect or ignorance. The Son of God, Who received all power from the
				Father, would otherwise never have taken flesh upon Him.</li>
			<li><a href="../book 5/#V-19">Chapter 19</a> ~ A comparison is instituted between the disobedient and sinning Eve and the Virgin Mary, her
				patroness. Various and discordant heresies are mentioned.</li>
			<li><a href="../book 5/#V-20">Chapter 20</a> ~ Those pastors are to be heard to whom the Apostles committed the Churches, possessing one and
				the same doctrine of salvation; the heretics, on the other hand, are to be avoided. We must think
				soberly with regard to the Mysteries of the Faith.</li>
			<li><a href="../book 5/#V-21">Chapter 21</a> ~ Christ is the Head of all things already mentioned. It was fitting that He should be sent by
				the Father, the Creator of all things, to assume human nature, and should be tempted by Satan, that He
				might fulfil the promises, and carry off a glorious and perfect victory.</li>
			<li><a href="../book 5/#V-22">Chapter 22</a> ~ The true Lord and the one God is declared by the Law, and</li>
			<li><a href="../book 5/#V-23">Chapter 23</a> ~ The Devil is well practised in falsehood, by which Adam having been led astray, sinned on the
				sixth day of the creation, in which day also HE has been renewed by Christ.</li>
			<li><a href="../book 5/#V-24">Chapter 24</a> ~ Of the constant falsehood of the Devil, and of the powers and governments of the world, which
				we ought to obey, inasmuch as they are appointed of God, not of the Devil.</li>
			<li><a href="../book 5/#V-25">Chapter 25</a> ~ The fraud, pride, and tyrannical kingdom of Antichrist, as</li>
			<li><a href="../book 5/#V-26">Chapter 26</a> ~ John and Daniel have predicted the dissolution and desolation of the Roman Empire, which
				shall precede the end of the world and the eternal Kingdom of Christ. The Gnostics are refuted, those
				tools of Satan, who invent another Father different from the Creator.</li>
			<li><a href="../book 5/#V-27">Chapter 27</a> ~ The future judgment by Christ. Communion with and separation</li>
			<li><a href="../book 5/#V-28">Chapter 28</a> ~ The distinction to be made between the righteous and the wicked. The future apostasy in the
				time of Antichrist, and the end of the world.</li>
			<li><a href="../book 5/#V-29">Chapter 29</a> ~ All things have been created for the service of man. The deceits, wickedness, and apostate
				power of Antichrist. This was prefigured at the deluge, as afterwards by the persecution of Shadrach,
				Meshach, and Abednego.</li>
			<li><a href="../book 5/#V-30">Chapter 30</a> ~ Although certain as to the number of the name of Antichrist, yet we should come to no rash
				conclusions as to the name itself, because this number is capable of being fitted to many names. Reasons
				for this point being reserved by the Holy Spirit. Antichrist's reign and death.</li>
			<li><a href="../book 5/#V-31">Chapter 31</a> ~ The preservation of our bodies is confirmed by the Resurrection and Ascension of Christ: the
				souls of the saints during the intermediate period are in a state of expectation of that time when they
				shall receive their perfect and consummated glory.</li>
			<li><a href="../book 5/#V-32">Chapter 32</a> ~ In that flesh in which the saints have suffered so many afflictions, they shall receive the
				fruits of their labours; especially since all creation waits for this, and God promises it to Abraham
				and his seed.</li>
			<li><a href="../book 5/#V-33">Chapter 33</a> ~ Further proofs of the same proposition, drawn from the promises made by Christ, when He
				declared that He would drink of the fruit of the vine with his disciples in his Father's kingdom, while
				at the same time He promised to reward them an hundred-fold, and to make them partake of banquets. The
				blessing pronounced by Jacob had pointed out this already, as Papias and the elders have interpreted it.
			</li>
			<li><a href="../book 5/#V-34">Chapter 34</a> ~ He fortifies his opinions with regard to the temporal and earthly kingdom of the saints after
				their resurrection, by the various testimonies of Isaiah, Ezekiel, Jeremiah, and Daniel; also by the
				Parable of the Servants Watching, to whom the Lord promised that He would minister.</li>
			<li><a href="../book 5/#V-35">Chapter 35</a> ~ He contends that these testimonies already alleged cannot be understood allegorically of
				celestial blessings, but that they shall have their fulfilment after the coming of Antichrist, and the
				Resurrection, in the terrestrial Jerusalem. To the former prophecies he subjoins others drawn from
				Isaiah, Jeremiah, and the Apocalypse of John.</li>
			<li><a href="../book 5/#V-36">Chapter 36</a> ~ Men shall be actually raised: the world shall not be annihilated; but there shall be various
				mansions for the saints, according to the rank allotted to each individual. All things shall be subject
				to God the Father, and so shall he be all in all.</li>
		</ul>
	</li>
</ul>