---
layout: categories
title:  Irenaes of Lyons
categories: writers
writings: Against Heresies
wikipedia: Irenaes
url: /Irenaes of Lyons/
---
<p><b>Irenaeus</b> (/<span style="border-bottom:1px dotted"><span title="/ɪr/: 'irr' in 'mirror'">ɪr</span><span title="/ɪ/: 'i' in 'kit'">ɪ</span><span title="/ˈ/: primary stress follows">ˈ</span><span title="'n' in 'nigh'">n</span><span title="/eɪ/: 'a' in 'face'">eɪ</span><span title="/ə/: 'a' in 'about'">ə</span><span title="'s' in 'sigh'">s</span></span>/; Greek: <span title="Ancient Greek language text" lang="grc">Εἰρηναῖος</span> <i>Eirēnaios</i>; c. 130 – c. 202 AD) was a Greek bishop noted for his role in guiding and expanding Christian communities in what is now the south of France and, more widely, for the development of Christian theology by combating heresy and defining orthodoxy. Originating from Smyrna, now Izmir in Turkey, he had seen and heard the preaching of Polycarp, the last known living connection with the Apostles, who in turn was said to have heard John the Evangelist.
</p>
<p>Chosen as bishop of Lugdunum, now Lyon, his best-known work is <a href="Against Heresies"><i>Against Heresies</i></a>, often cited as <i>Adversus Haereses</i>, an attack on gnosticism, in particular that of Valentinus. To counter the doctrines of the gnostic sects claiming secret wisdom, he offered three pillars of orthodoxy: the scriptures, the tradition handed down from the apostles, and the teaching of the apostles' successors. Intrinsic to his writing is that the surest source of Christian guidance is the church of Rome, and he is the earliest surviving witness to regard all four of the now-canonical gospels as essential.
</p>