---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <div class="post-content">
    {{ content }}
    <p><i>From Wikipedia's article on <a href="https://en.wikipedia.org/wiki/{{ page.wikipedia }}">{{ page.title }}</a></i></p>
    {% include writings.html %}
  </div>
</article>
